# Dependencias
node_modules/

# Archivos de entorno
.env

# Directorios de construcción
/dist
/build

# Archivos temporales
*.tmp
*.temp

# Logs
*.log

# Sistema operativo y editor de texto
.DS_Store
Thumbs.db
*.swp
